//watson code

//background color
$bg_color : linear-gradient(180deg, #000 0%, #00101A 100%);

//button color
$btn_color : #008DFF;
$btn_hover_color : #007FE6;
$btn_active_color : #0071CC;

//text color
$text_color_white : #fff;
$text_color_orange : #FEC318;

//toggle background color
$toggle_button_bg_color: #B0B0B0;

//form, input, label color

$select_color: #fff;


