@use "asset" as asset;
@use "_mixin.scss" as mixin;

body{  
    background: asset.$bg_color;
    padding: 10rem 1.5rem;
    font-family: "DIN 2014" , "Barlow";
}

a{
    @include mixin.buttonBig;
}

