@use "asset" as asset;
@use "_mixin.scss" as mixin;

body{  
    background: asset.$bg_color;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "DIN 2014" , "Barlow";
}

img{
    margin-top: 1rem;
}

.selection{
    margin-top: 2rem;
    .login{
        @include mixin.buttonBig;
    }
    
    .signin{
        @include mixin.buttonBig_secondary;
    }
}


