@use "asset" as asset;
@use "_mixin.scss" as mixin;

body{  
    background: asset.$bg_color;
    padding: 7rem 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "DIN 2014" , "Barlow";
}

.selection{
    margin-top: 5rem;
    .login{
        @include mixin.buttonBig;
    }
    
    .signin{
        @include mixin.buttonBig_secondary;
    }
}


